.security-progress-bar {
  margin-top: 10px;
  display: flex;
}

.strength-section {
  flex: 1;
  height: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: gray; 
  transition: background-color, 0.3s ease-in-out;
}

.gray {
  background-color: gray; 
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
