<div class="example-container">
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>

<!-- Display error messages -->
<div class="security-progress-bar">
  <!-- <p *ngIf="passwordFormControl.hasError('required')">
    Password is <strong>required</strong>.
  </p> -->
  <!-- <p *ngIf="passwordFormControl.hasError('minlength')">
    Password must be at least 8 characters long.
  </p> -->

  <!-- Display password strength sections -->
  <div class="strength-section" [ngClass]="getPasswordStrength()[0]"></div>
  <div class="strength-section" [ngClass]="getPasswordStrength()[1]"></div>
  <div class="strength-section" [ngClass]="getPasswordStrength()[2]"></div>
</div>
